

/****************/
/****************/
/****************/

/*estilos de encabezado y menu desplegable*/

.Principal
{
z-index: 100; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: fixed; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: 10px; /*distancia de caja al borde superior*/
left: 10px; /*distancia de caja al borde de izquierda*/
right: 10px; /*distancia de caja al borde de derecha*/

}



.TituloGeneral
{
display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:98%; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
text-align: center; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
}



.Principalv
{
z-index: 100; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: 10px; /*distancia de caja al borde superior*/
left: 10px; /*distancia de caja al borde de izquierda*/
right: 10px; /*distancia de caja al borde de derecha*/

}



#Titulo1
{
background:#005883; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
padding: 10px 10px 10px 10px; /*relleno*/
}



#Titulo2
{
background:#F0B429; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
margin: 9px 0px 0px 0px; /*margenes*/
padding: 10px 10px 10px 10px; /*relleno*/
}



#LogoImagen
{
padding: 0px 0px 0px 0px; /*relleno*/
width:100px; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
height: auto; /*alto de caja*/
float:right; /*left (imagen a la izquierda del texto).. right (imagen a la derecha del texto)*/
}




.MenuVertical
{
height: auto; /*alto de caja*/
width:170px; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
margin: 220px 0px 0px 0px; /*margenes*/
text-transform: none;
list-style: none; /*estilo de lista.. son como viñetas*/
}


.MenuVertical li a
{
display:block; /*como mostrar un elemento*/
background:#F47920; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
padding: 10px 0px 10px 10px; /*relleno*/
margin: 0px 0px 0px 0px; /*margenes*/
text-align: left; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
text-decoration: none; /*quitar subrayado de enlaces etiqueta a*/
color: #FFFFFF; /*color letra*/
font-size:12; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}


.MenuVertical li a:hover
{
background: #005883; /* Cambiamos el fondo cuando el usuario pase el mouse */
}


.MenuVertical li:hover > ul 
{
display:block; /*como mostrar un elemento*/
}


.MenuVertical li ul
{
display:none; /*como mostrar un elemento*/
position:absolute; /*posicionamiento*/
list-style: none; /*estilo de lista.. son como viñetas*/
top: auto; /*alto de caja desde su borde superior*/
left: 130px; /*distancia de caja al borde de izquierda*/
height: auto; /*alto de caja*/
width: 170px; /*ancho de caja*/
margin: -38px 0px 0px 0px; /*margenes*/
}


/****************/
/****************/
/****************/

/*estilos de pie de pagina*/

.PiePagina
{
clear: both;
z-index: 100; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: auto; /*distancia de caja al borde superior*/
left: 0px; /*distancia de caja al borde de izquierda*/
right: 0px; /*distancia de caja al borde de derecha*/
bottom: auto; /*distancia de caja al borde inferior*/

display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:auto; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:10px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
}


#PiePaginaTitulo1
{
background:#005883; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
margin: 10px 0px 10px 0px; /*margenes*/
padding: 10px 10px 10px 10px; /*relleno*/
}

.PiePagina1
{
clear: both;
z-index: 100; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: auto; /*distancia de caja al borde superior*/
left: 0px; /*distancia de caja al borde de izquierda*/
right: 0px; /*distancia de caja al borde de derecha*/
bottom: auto; /*distancia de caja al borde inferior*/

display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:auto; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:10px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
}


#PiePaginaTitulo2
{
background:#005883; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
margin: 10px 0px 10px 0px; /*margenes*/
padding: 10px 10px 10px 10px; /*relleno*/
}



/****************/
/****************/
/****************/

iframe{
	display: inline-block;
margin-top: 20px;
}

/****************/
/****************/
/****************/

/*estilos de inicio*/

.InicioPrincipal
{
z-index: 20; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: 200px; /*distancia de caja al borde superior*/
left: 200px; /*distancia de caja al borde de izquierda*/
right: 37px; /*distancia de caja al borde de derecha*/
}



.InicioPrincipal1
{
position:absolute;
width: 85%;
top:160px;
bottom:;
right:;
left:15%;
font-size: 82px;
}

.InicioContenidos
{
display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:100%; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
}

.InicioContenidos1
{
display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:100%; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
}

#InicioTitulo1
{
width: 1000px;
height:200px;
background:#333333; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: center; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 30px 10px 10px 10px; /*relleno*/
}

#InicioTitulo
{
background:#333333; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: center; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}

#InicioContenido
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}

#InicioContenido2
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}

#InicioContenido1
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}


/****************/
/****************/
/****************/








/****************/
/****************/
/****************/

/*estilos de conceptos*/

.ConceptosPrincipal
{
z-index: 20; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: 200px; /*distancia de caja al borde superior*/
left: 200px; /*distancia de caja al borde de izquierda*/
right: 37px; /*distancia de caja al borde de derecha*/
}

.ConceptosContenidos
{
display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:100%; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
}



#ConceptosTitulo
{
background:#333333; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: center; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}

#ConceptosCont
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:13px; /*tamaño de la letra*/
font-weight: normal; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}


#Imagen
{
padding: 10px 10px 10px 10px; /*relleno*/
width:500px; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
height: auto; /*alto de caja*/
}



/****************/
/****************/
/****************/




/****************/
/****************/
/****************/

/*estilos de estandares/iso*/

.IsoPrincipal
{
z-index: 20; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: 200px; /*distancia de caja al borde superior*/
left: 200px; /*distancia de caja al borde de izquierda*/
right: 37px; /*distancia de caja al borde de derecha*/
}

.IsoContenidos
{
display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:100%; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
}



#IsoTitulo
{
background:#333333; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: center; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}

#IsoContenido
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:15px; /*tamaño de la letra*/
font-weight: normal; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}


#IsoImagen
{
padding: 20px 20px 20px 20px; /*relleno*/
width:200px; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
height: auto; /*alto de caja*/
float:left; /*left (imagen a la izquierda del texto).. right (imagen a la derecha del texto)*/
}



#IsoImagen2
{
padding: 20px 20px 20px 20px; /*relleno*/
width:200px; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
height: auto; /*alto de caja*/
float:right; /*left (imagen a la izquierda del texto).. right (imagen a la derecha del texto)*/
}



/****************/
/****************/
/****************/

/*estilos de legal*/

.LegalPrincipal
{
z-index: 20; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: 200px; /*distancia de caja al borde superior*/
left: 200px; /*distancia de caja al borde de izquierda*/
right: 37px; /*distancia de caja al borde de derecha*/
}

.LegalContenidos
{
display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:100%; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
}



#LegalTitulo
{
background:#333333; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: center; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}

#LegalContenido
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:15px; /*tamaño de la letra*/
font-weight: normal; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}


#LegalImagen2
{
padding: 20px 20px 20px 20px; /*relleno*/
width:200px; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
height: auto; /*alto de caja*/
float:right; /*left (imagen a la izquierda del texto).. right (imagen a la derecha del texto)*/
}


/****************/
/****************/
/****************/




/****************/
/****************/
/****************/

/*estilos de referencias*/

.RefPrincipal
{
z-index: 20; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: 200px; /*distancia de caja al borde superior*/
left: 200px; /*distancia de caja al borde de izquierda*/
right: 37px; /*distancia de caja al borde de derecha*/
}

.RefContenidos
{
display:block; /*como mostrar un elemento*/
height: auto; /*alto de caja*/
width:100%; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
}



#RefTitulo
{
background:#333333; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: center; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}

#RefContenido
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:15px; /*tamaño de la letra*/
font-weight: normal; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}

.RefPrincipal2
{
z-index: 101; /*entre mas alto indice mas cerca al usuario de sistema esta*/
position: absolute; /*orientacion y posicionamiento... registrar **fixed** si se requiere que esté fijo***absolute** se mantiene arriba*/
top: 200px; /*distancia de caja al borde superior*/
left: 360px; /*distancia de caja al borde de izquierda*/
right: 37px; /*distancia de caja al borde de derecha*/
}


#RefTitulo2
{
background:#333333; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: center; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}


#RefContenido2
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:15px; /*tamaño de la letra*/
font-weight: normal; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}




#RefImagen2
{
padding: 20px 20px 20px 20px; /*relleno*/
width:200px; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
height: auto; /*alto de caja*/
float:right; /*left (imagen a la izquierda del texto).. right (imagen a la derecha del texto)*/
}


/****************/
/****************/
/****************/








/****************/
/****************/
/****************/

/*Para autores*/




#AutoresTitulo1
{
background:#333333; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}


#AutoresTitulo2
{
background:#808080; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:20px; /*tamaño de la letra*/
font-weight: bold; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 10px 10px 10px 10px; /*relleno*/
}


#AutoresImagen
{
padding: 0px 20px 0px 10px; /*relleno*/
width:130px; /*Le establecemos un ancho, es decir, es la longitud de todo el menu (10px) 100% = todo el ancho*/
height: auto; /*alto de caja*/
float:left; /*left (imagen a la izquierda del texto).. right (imagen a la derecha del texto)*/
}




/****************/
/****************/
/****************/







/****************/
/****************/
/****************/

/*Para resaltar texto*/

#TextoResaldado
{
background:#F47920; /*color de fondo estipulado por width - color unad: 005883 azul - F0B429 amarillo - F47920 naranja*/
color: #000000; /*color letra*/
}

#DescrImagen
{
text-align: justify; /*alineacion de texto*/
font-family: Arial, Helvetica, sans-serif; /*fuente de toda la letra del menu.. se estipula x familias de grupos: serif, sans-serif, cursive, fantasy, monospace*/
font-size:8px; /*tamaño de la letra*/
font-weight: normal; /*grosor de letra*/
color: #FFFFFF; /*color letra*/
padding: 0px 0px 0px 0px; /*relleno*/
}


/****************/
/****************/
/****************/
/****************/





